body{
	background-color: #eee;
}
.event-upper, .event-lower {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}
.event-upper {
  top: 0;
  height: 30%;
  background-color: #90a4ae;
}

.event-lower {
  bottom: 0;
  height: 50%;
  background-color:#eee;
}
.event-center{
	margin:auto;
	min-height: 300px;
	min-width: 100%;
	position: relative;
	margin-top: 14%;
	width: 50%;
	background-color: white;
	box-shadow: 0px 0px 5px gray ;
	padding:2em ;

}